<% content_for :head do %>
	<link href="/assets/garagak.scss" rel="stylesheet" >
	<script type="text/javascript" src='/assets/garagak.js'></script>
<% end %>
<section class="container">
		<div class="col-sm-3" style="margin-bottom:10px">
			<%= form_for @carbrand do |f| %>
				Name :
			    <%= f.text_field :name, :maxlength => "30", :minlength=> "3",class: 'form-control form-control-sm' %>
			    <%= f.file_field :photo %>
			    <%= f.submit %>
			<% end %>
			<% @carbrands.each do |brand| %>
			<%= brand.id %>:
			<%= brand.name %><br>
			<%= image_tag brand.photo.url, class: "sora" %><br>
			<a href="/garagak/constants/edit_carbrands/<%=brand.id%>"> edit </a><br>
			<% end %>
		</div>
		<div class="col-sm-3" style="margin-bottom:10px">
			<%= form_for @carmodel do |f| %>
				<%= collection_select(:carmodel,:carbrand_id, Carbrand.order(:name) , :id ,:name,{:include_blank => 'All carbrands'}, required: true,class: 'form-control form-control-sm',id: "carbrandList") %>
				Name :
			    <%= f.text_field :name, :maxlength => "30", :minlength=> "3",class: 'form-control form-control-sm' %>
			    <%= f.submit %>
			<% end %>
			<% @carbrands.each do |brand| %>
			<%= brand.name%>: <br>
			<% brand.carmodels.each do |model| %>
			<%= model.id %>:
			<%= model.name %>:
			<%= model.carbrand.name %><br>
			<% end %>
			<% end %>
	</div>
	<div class="col-sm-3" style="margin-bottom:10px">
			<%= form_for @city do |f| %>
				Name :
			    <%= f.text_field :name, :maxlength => "30", :minlength=> "3",class: 'form-control form-control-sm' %>
			    <%= f.submit %>
			<% end %>
			<% @cities.each do |city| %>
			<%= city.id %>:
			<%= city.name %><br>
			<% end %>
		</div>
		<div class="col-sm-3" style="margin-bottom:10px">
			<%= form_for @area do |f| %>
				<%= collection_select(:area,:city_id, City.order(:name) , :id ,:name,{:include_blank => 'All cities'}, required: true,class: 'form-control form-control-sm',id: "cityList") %>
				Name :
			    <%= f.text_field :name, :maxlength => "30", :minlength=> "3",class: 'form-control form-control-sm' %>
			    <%= f.submit %>
			<% end %>
			<% @cities.each do |city| %>
			<%= city.name %>: <br>
			<% city.areas.each do |area| %>
			<%= area.id %>:
			<%= area.name %><br>
			<% end %>
			<% end %>
		</div>
</section>