<% content_for :head do %>
	<link href="/assets/videos.scss" rel="stylesheet" >
	<link href="/assets/bootstrap-social.scss" rel="stylesheet" >
	<script type="text/javascript" src='/assets/videos.js'></script>
<% end %>
<section class="container">
	<div class="col-sm-12">
		<div class="col-sm-12 multipages" style="padding-right:0px;margin-right: 0px;">
				<ul id='ulx' style="padding-right:0px;margin-right: 0px">
					<li><a 
					<% if @cat == nil %> class="active"<%end%>
					href="/videos">All</a></li>
					<% @videocats.each do |c| %>
	  				<li><a <% if c == @cat%> class="active"<%end%> href="/videos/cat/<%=c.id%>"><%=c.name%></a></li>
					<% end %>
					<% if user_signed_in? && current_user.admin == true %>
					<li><a href="/videos/new">+ add new</a></li>
					<%end%>
				</ul>
			</div>
	</div>
</section>
<section>
<% @videos.each_with_index do |video, index| %>

	<% if index == 0 %>
		<div class="col-sm-6" style="padding:0px;padding-right:2px">
		<div id="bigonewrapper">
		<%= image_tag video.thumbnail(:medium) ,id: "bigone" %>
	<img src="/assets/videologo.png" id="videologo" />
	<img src="/assets/playbutton.png" id="playbuttonreal" />
	</div>
		<div class="embed-responsive embed-responsive-16by9" id="videowrapper" style="display:none">
		<div id="player"></div>
		</div>

	  	</div>
	  	<script>
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: '<%= video.url %>',
          events: {
            'onReady': onPlayerReady,
          }
        });
      }
      function onPlayerReady(event) {
      	$('#playbuttonreal').click(function(){
        event.target.playVideo();
    })
      }
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>
	<% end %>
	<% if index == 1 %>
	<div class="col-sm-6" style="padding:0px;padding-right:2px">
	<div>
	<div class="col-sm-6" style="padding:0px">
	<div id="smallonewrapper">
	<a href="/videos/<%= video.id %>"><%= image_tag video.thumbnail(:medium) ,class: "sidevideo" %></a>
	<img src="/assets/videologo.png" id="videologo" />
	</div>
	</div>
	<% end %>
	<% if index == 2 %>
	<div class="col-sm-6" style="padding:0px">
	<div id="smallonewrapper">
	<a href="/videos/<%= video.id %>"><%= image_tag video.thumbnail(:medium) ,class: "sidevideo" %></a>
	<img src="/assets/videologo.png" id="videologo" />
	</div>
	</div>
	<% end %>
	<% if index == 3 %>
	<div  class="col-sm-6" style="padding:0px">
	<div id="smallonewrapper">
	<a href="/videos/<%= video.id %>"><%= image_tag video.thumbnail(:medium) ,class: "sidevideo" %></a>
	<img src="/assets/videologo.png" id="videologo" />
	</div>
	</div>
	<% end %>
	<% if index == 4 %>
	<div  class="col-sm-6" style="padding:0px">
	<div id="smallonewrapper">
	<a href="/videos/<%= video.id %>"><%= image_tag video.thumbnail(:medium) ,class: "sidevideo" %></a>
	<img src="/assets/videologo.png" id="videologo" />
	</div>
	</div>
	</div>
	</div>
	
	<% end %>
	<% end %>
	</section>
	<section class="container" style="padding:0px;">
		<div class="col-sm-8" style="padding-right:50px;margin-top:50px">
	<% @videos.each_with_index do |video, index| %>
	<% if index > 4 %>
		<div class="row"  style="margin-top:5px">
		<div class="col-sm-4" style="padding:0px">
			<div id="smallonewrapper">
			<a href="/videos/<%= video.id %>"><%= image_tag video.thumbnail(:medium) ,class: "sidevideo" %></a>

			<img src="/assets/videologo.png" id="videologo" />
			</div>
		</div>
		<div class="col-sm-8" style="margin-top:10px">
			<p style="font-weight:bold;color:white;font-size:180%;direction:rtl"> <%= video.title %> </p>
			<p style="font-weight:bold;color:white"> <%= video.description %> </p>

		</div>
		</div>
		<hr id="hr" style="margin:0px;padding:0px;margin-top:5px;">
	<% end %>
		
<% end %>
</div>
	<div class="col-sm-4" style="padding:0px">
		<p style="font-weight:bold;color:white;font-size:250%;margin-top:20px"> Popular Videos </p>
		<% @popularvideos.each do |pop| %>
		<div class= "col-sm-12" style="padding:0px">
			<div id="smallonewrapper">
			<a href="/videos/<%= pop.id %>"><%= image_tag pop.thumbnail(:medium) ,class: "sidevideo" %></a>
			<img src="/assets/videologo.png" id="videologo"/>
			</div>
		</div>
		<div class= "col-sm-12">
			<p style="font-weight:bold;color:white;font-size:120%;direction:rtl"> <%= pop.title %> </p>
		</div>
		<% end %>
	</div>
	<section class="container">
<div class="col-sm-12" style="text-align: center">
<%= will_paginate @videos, renderer: BootstrapPagination::Rails %>
</div>
</section>
	</section>
<script>
$('#playbuttonreal').click(function(){
	$('#bigonewrapper').css('display','none');
	$('#videowrapper').css('display','block');
})
$(".sidevideo").hover(
  function() {
    $(this).css('filter','contrast(200%) brightness(150%)');
  }, function() {
    $(this).css('filter','contrast(100%) brightness(100%)');
  }
);
</script>