<% content_for :head do %>
	<link href="/assets/wallmessages.scss" rel="stylesheet" >
<% end %>
<section class="container" style='text-align: center; margin-bottom:20px'>
<a href='/secrets'><button class='btn btn-primary btn-md'> go back </button></a>
<a href='/secrets/all'><button class='btn btn-primary btn-md'> refresh </button></a>
</section>
<section class='container'>
<% @secrets.each do |m| %>
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6" id="showMessage">
			<% if m.user_id? %>
			<nav id="messageUser">
				<a href="/profile/<%= m.user.id %>"  style="display:flex;flex-direction:row;text-decoration: none;">
					<%= image_tag m.user.avatar.url(:medium) , :id => "complaintuserLogo"%>
					<div style="display:flex;flex-direction:column;margin-left:10px">
					<span style="font-weight:bold;margin-top:5px;color:#002266"><%= m.user.first_name.humanize %> <%= m.user.last_name.humanize%></span>
					<span style="font-size:75%;"><%= time_ago_in_words(m.created_at) %> ago</span>
					</div>
				</a>
			</nav>
			<% end %>
			<p><%= simple_format(m.content) %></p>
			<a href="/secrets/delete/<%=m.id%>">delete</a>
				</div>
	</div>
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<hr>
		</div>
	</div>
			<% end %>
	<%= will_paginate @secrets %>
</section>